/* ==|====================
   Base/Form
   ======================= */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="search"],
textarea {
    font-size: rem(16);
    font-family: font('opensans');
    font-weight: 300;
    color: color('gray', 'dark');
    padding: rem(10);
    border: 1px solid color('gray', 'light');
    outline: 0;
    box-shadow: inset 0 1px 2px color('white', 'dark');
    background-color: color('white');
    @include placeholder(color('gray'));

    &:hover {
        border-color: color('gray');
    }

    &:focus {
        border-color: color('gray', 'dark');
    }
}