// Bourbon
@import "bourbon";

// My Stuff
@import "partials/settings";
@import "partials/functions";
@import "partials/mixins";

// Base
@import "base/normalize";
@import "base/base";
@import "base/form";

// Fonts
//@import "fonts/...";

// Layout
@import "layout/header";
@import "layout/nav";
@import "layout/footer";
@import "layout/home";

// Modules
@import "modules/animations";
@import "modules/buttons";
@import "modules/video";
@import "modules/img";